bcbio-gff==0.6.6
biopython==1.77
certifi==2020.6.20
chardet==3.0.4
click==7.1.2
CMSeq==1.0.1
cycler==0.10.0
Cython==0.29.21
DendroPy==4.4.0
future==0.18.2
h5py==2.10.0
humann2==2.8.2
idna==2.10
kiwisolver==1.2.0
matplotlib==3.3.1
numpy==1.19.1
pandas==1.1.1
PhyloPhlAn==3.0
Pillow==9.3.0
pyparsing==2.4.7
pysam==0.16.0.1
python-dateutil==2.8.1
pytz==2020.1
requests==2.24.0
scipy==1.5.2
seaborn==0.10.1
six==1.15.0
urllib3==1.25.10
